<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zone.app">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_stars_black_24dp"
        android:label="Zone"
        android:roundIcon="@drawable/ic_stars_black_24dp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.zone.app.userScreen.profile.friends.FriendsActivity" />
        <activity android:name="com.zone.app.register.termsAndConditions.TermsAndConditionsMain" />
        <activity android:name="com.zone.app.userScreen.profile.EditProfile" />
        <activity android:name="com.zone.app.Login" />
        <activity android:name="com.zone.app.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.zone.app.register.Register" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity android:name="com.zone.app.userScreen.MainScreen" />
        <activity android:name="com.zone.app.MainActivity" />
        <activity android:name="com.zone.app.register.RegisterMainScreen" />
    </application>

</manifest>